.fancyButton {
    border: 0;
    padding: 15px;
    border-radius: 5px;
    margin: 5px 0;
    background:  rgb(255, 255, 255);
    color: var(--color-secondary);
    transition: 0.3s all ease-in-out;
    outline: none;
    align-self: stretch;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    &:active {
        transform: scale(0.96);
    }

    &:disabled {
        background-color: var(--color-font-light);
        pointer-events: none;
        cursor: not-allowed;
    }

    &.clear {
        background: transparent;
        color: var(--font-color);
    }

    &.rounded {
        flex: 0;
        align-self: center;
        justify-self: center;
        border-radius: 50px;
        padding: 15px 25px;
    }

    &.ghost {
        background: var(--color-secondary-light);
        color: var(--font-color);
    }
}