@import "../../styles/setup/mixins";

.homePage {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
  grid-auto-flow: column;
  position: relative;
  overflow: hidden;

  .info {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 15px 0;
    width: 300px;
    padding: 10px;
    background-color: var(--color-secondary-light);
    // border-left: 3px solid var(--color-primary);
    border-radius: 5px;
  }

  .animate {
    transition: 0.3s all ease-in-out;
    animation-name: slide-up;
    animation-duration: 0.5s;
  }

  .pageContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
  }

  @include respond-below(md) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ._coloredBackground {
    background: -moz-linear-gradient(
      45deg,
      #e6683c 0%,
      #dc2743 33%,
      #cc2366 66%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #e6683c 0%,
      #dc2743 33%,
      #cc2366 66%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #e6683c 0%,
      #dc2743 33%,
      #cc2366 66%,
      #bc1888 100%
    );
  }

  .commentsFab {
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 99;
    width: 150px;
    height: auto;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    transition: 0.2s all ease-in-out;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transform: translateY(10px);
    // @extend ._coloredBackground;
    background: var(--color-primary);
    opacity: 0.8;

    @include respond-below(md) {
      display: flex;
    }

    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      transform: scaleX(-1);
      // display: none;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
      transform: translateY(0px);
      // transform: scale(1.1);
    }

    &:active {
      transform: scale(0.98);
    }
  }

  .profilePicWrapper {
    padding: 0px;
    border: 5px solid var(--color-font);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: scale-up;
    animation-duration: 0.5s;
    position: relative;
    background-color: #ff5500;

    .profilePic {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: var(--color-secondary-light);
      border: none;
    }

    .liveTag {
      position: absolute;
      bottom: -10px;
      padding: 3px 10px;
      border-radius: 5px;
      background-color: #ff0278;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.8rem;
      animation-name: scale-up;
      animation-duration: 0.5s;

      &.liveBackground {
        animation-name: colorful-background;
        animation-duration: 4s;
        animation-iteration-count: infinite;
      }
    }

    &.liveBorder {
      animation-name: colorful-border;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  }

  .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-font);
    padding: 0 0 25px 0;
    animation-name: slide-up;
    animation-duration: 0.5s;

    .fullName {
      font-size: 1.2rem;
      padding: 15px 0 5px 0;
    }

    .username {
      margin: 0;
      font-size: 1rem;
      opacity: 0.7;
    }
  }

  .messageInput {
    margin: 10px 0;
  }

  .liveButton,
  .stopButton,
  .goLiveButton {
    background-color: white;
    border: 0;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s all ease-in-out;
    animation-name: slide-up;
    animation-duration: 0.5s;
    outline: none;
    align-self: center;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .stopButton {
    background-color: rgba(255, 255, 255, 0.288);
    color: white;
  }

  .goLiveButton {
    background: -moz-linear-gradient(
      45deg,
      #e6683c 0%,
      #dc2743 33%,
      #cc2366 66%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #e6683c 0%,
      #dc2743 33%,
      #cc2366 66%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #e6683c 0%,
      #dc2743 33%,
      #cc2366 66%,
      #bc1888 100%
    );
    color: white;
  }

  .linkFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    animation-name: slide-up;
    animation-duration: 0.5s;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        border-radius: 5px 0 0 5px;
      }

      button {
        border: 0;
        padding: 14px;
        background-color: rgba(255, 255, 255, 0.185);
        border-radius: 5px;
        margin-left: 0px;
        transition: 0.2s all ease-in-out;
        outline: none;
        border-radius: 0 5px 5px 0;

        &:hover {
          cursor: pointer;
          background-color: var(--color-primary);
        }

        &:active {
          transform: scale(0.98);
        }
      }

      .copyIcon {
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes colorful-border {
  0% {
    border-color: #ff0296;
    box-shadow: 0 0px 35px #ff029631;
  }
  25% {
    border-color: #9a02ff;
    box-shadow: 0 0px 35px #9a02ff31;
  }
  50% {
    border-color: #ff7402;
    box-shadow: 0 0px 35px #ff740231;
  }
  75% {
    border-color: #af02ff;
    box-shadow: 0 0px 35px #af02ff31;
  }
  100% {
    border-color: #ff0296;
    box-shadow: 0 0px 35px #ff029631;
  }
}

@keyframes colorful-background {
  0% {
    background-color: #ff0296;
    box-shadow: 0 0px 35px #ff029631;
  }
  25% {
    background-color: #9a02ff;
    box-shadow: 0 0px 35px #9a02ff31;
  }
  50% {
    background-color: #ff7402;
    box-shadow: 0 0px 35px #ff740231;
  }
  75% {
    background-color: #af02ff;
    box-shadow: 0 0px 35px #af02ff31;
  }
  100% {
    background-color: #ff0296;
    box-shadow: 0 0px 35px #ff029631;
  }
}
