:root {
    --color-primary: rgb(1, 161, 235);
    --color-secondary: rgb(15, 27, 41);
    --color-secondary-light: rgb(26, 38, 51);
    --color-font: rgb(236, 236, 236);
    --color-font-light: rgb(153, 153, 153);
}