@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 400px;
  line-height: 1.5em;
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--font-color);
  }

  a {
    text-decoration: none;
    outline: none;
    &:focus {
      outline: none;
    }
  }
}